SECRET_KEY=DUMMY

GENERIC_LOGIN_PASSWORD=DUMMY
DUMMY_USERNAME=DUMMY

SERVETEL_WEBHOOK_X_API_KEY=DUMMY
SERVETEL_CLICK_TO_CALL_API_KEY=DUMMY
RAPIDO_WEBHOOK_X_API_KEY=test
ENABLE_RAPIDO_WEBHOOK=True

LOG_LEVEL=DEBUG
# error/all/off
CAPTURE_REQUEST_RESPONSE_CONTENT=error

DEBUG=True
X_API_KEY=test

PROD_DB_NAME=DUMMY
PROD_DB_USER=DUMMY
PROD_DB_PASS=DUMMY
DB_HOST=DUMMY
DB_PORT=5432

REDIS_HOST=DUMMY
SELLER_APP_SITE_URL="DUMMY"
BUYER_APP_SITE_URL="DUMMY"

ZIPPING_ALGO_PATH="output_of_<which 7z>"


# ELK
ELK_SERVER_URL=DUMMY
ELK_SECRET_TOKEN=DUMMY
ELASTIC_APM_ENABLED=False


SMS_BASE_URL=DUMMY
SMS_API_KEY=DUMMY

CHARTR_TICKET_API_URL="DUMMY"
CHARTR_TICKET_API_KEY="DUMMY"