PRIVATE_KEY="DUMMY_PRIVATE_KEY"
PUBLIC_KEY="DUMMY_PUBLIC_KEY"
ENCRYPTION_PRIVATE_KEY="DUMMY_ENCRYPTION_PRIVATE_KEY"
ENCRYPTION_PUBLIC_KEY="DUMMY_ENCRYPTION_PUBLIC_KEY"

ONDC_SITE_VERIFICATION_SIGNATURE="DUMMY_ONDC_SITE_VERIFICATION_SIGNATURE"
SUBSCRIBER_ID="DUMMY_SUBSCRIBER_ID"
UNIQUE_KEY_ID="DUMMY_UNIQUE_KEY_ID"