# ANAMAR
# STAGING CREDENTIALS
PAYTM_MERCHANT_ID="DUMMY"
PAYTM_MERCHANT_KEY="DUMMY"
PAYTM_WEBSITENAME="DUMMY"
PAYTM_BASE_URL="DUMMY"
PAYTM_TRANSACTION_URL_SUFFIX="DUMMY"
PAYTM_TRANSACTION_STATUS_URL_SUFFIX="DUMMY"